<%= render '/header' %>

<div class="about">
  <div class="work-top">
　  <span>BLOG</span>
  </div><br>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>

    <div class="col-xs-6"><hr>

      <div class="left"><%= image_tag attachment_url(@blog.staff, :image, :fill, 80, 80, format: "jpg",fallback: "no_image.jpg"),class: 'staff-image' %></div><br>
      <div class="blog-text"><%= @blog.created_at.strftime('%Y/%m/%d')%></div>
      <div><%= @blog.staff.full_name %>(<%= @blog.staff.position %>)</div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
    </div>

    <div class="col-xs-6">
      <br>
      <table class="table">
        <tr>
          <td><span><%= @blog.title %></span></td>
        </tr>
        <tr>
          <td><span><%= @blog.body %></span></td>
        </tr>
      </table>

      <div>
      <%= image_tag attachment_url(@blog, :image, :fill, 550, 413, format: "jpg",fallback: "no_image.jpg") %>
      </div><br>

      <%= link_to about_path do %>
      <p><i class="fas fa-backward"></i> Back</p>
      <% end %>

    </div>
  </div>

</div>
</div>

<%= render '/footer' %>