<h3>管理人さん、お疲れ様です。</h3>

  <% @messages.last(1).each do |message| %>
    <p><%= message.body %></p>
  <% end %>

  <p>
    <i class="far fa-address-card"></i> <%= link_to "社員一覧", admin_staffs_path %>
  </p>

  <p>
  	<i class="far fa-copy"></i> <%= link_to "ファイル送信", new_admin_document_path %>
  </p>

  <p>
  	<i class="fas fa-chart-line"></i> <%= link_to "業績入力", new_admin_result_path %>
  </p>

  <p>
  	<i class="fas fa-book"></i> <%= link_to "ブログの確認・削除", admin_blogs_path %>
  </p>

<h4>全体へのお知らせを更新する</h4>

  <%= form_for(@message, url: '/admin') do |f| %>
    <%= f.text_area :body %>
    <%= f.submit '更新' %>
  <% end %>

  <br>
  <p><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %></p>
