<div class="work-top">
　管理者専用<span><%= link_to "TOP", admin_root_path%> >> 社員一覧</span>
</div><br>

<div class="container staffs"><hr>
  <div class="row">

  	<% @staffs.each do |staff| %>
      <div class="col-xs-4">
	    <div class="staffs-text">
	      <%= staff.position %>
	    </div>
	    <span>
	  	  <%= image_tag attachment_url(staff, :image, :fill, 150, 150, format: "jpg",fallback: "no_image.jpg"),class: 'staff-image' %>
	    </span>
	    <span>
	      <%= link_to admin_staff_path(staff.id) do %>
	      <%= staff.full_name %>
	      <% end %>
	    </span><hr>
      </div>
    <% end %>
  </div>
  <div class="row">
      <%= link_to admin_root_path do %>
      <p><i class="fas fa-backward"></i> Back</p>
      <% end %>
  </div>

</div>