<%= render '/header' %>

<div class="about">
  <div class="work-top">
　  <span>Contact</span>
  </div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>

    <div class="col-xs-6"><br>
      <% if flash[:success] %>
      <div class="alert alert-success">
      <%= flash[:success] %>
      </div>
      <% end %>

      <h2 class="center">採用応募・お問い合わせ</h2><hr>
      <h5 class="center">
        Lifes.では正社員、アルバイト問わず一緒に働いてくれる仲間を募集しています。<br><br>
        営業の経験を積みたい方、新しいことに挑戦したい方、<br><br>
        下記のフォームよりご応募ください。<br><br>
        また応募以外でのお問い合わせにもご対応致します。<br><br>
        法人様もどうぞお問い合わせください。<br><br><br>
      </h5>

      <h4>募集要項<span>(<%= Date.current.strftime('%Y年%m月%d日')%>現在)</span></h4>
      <table class="table table-striped">
        <tr>
          <th>業務内容</th>
          <td>正社員：営業、新事業開拓<br>アルバイト：イベントスタッフ</td>
        </tr>
        <tr>
          <th>契約期間</th>
          <td>期間の定めなし</td>
        </tr>
         <tr>
          <th>就業時間</th>
          <td>10:00~18:00<br>11:00~19:00</td>
        </tr>
        <tr>
          <th>賃金</th>
          <td>月給○○円〜(正社員)<br>日当○○円〜(アルバイト)</td>
        </tr>
        <tr>
          <th>加入保険</th>
          <td>雇用保険・労災保険</td>
        </tr>
      </table><br>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
    </div>

    <div class="col-xs-4"><br>

      <%= form_with model:@contact do |f| %>
        <div><%= f.text_field :name, autofocus: true, class:'form-control',placeholder: "氏名・担当名"%></div><br>
        <div><%= f.text_area :body, class:'form-control',placeholder: "内容" %></div><br>
        <div class="center"><%= f.submit "送信",class:"btn btn-primary"%></div><hr>
        <div>
          応募の方は上記内容欄に<br>
          ①メールアドレス<br>②連絡先電話番号<br>③正社員希望またはアルバイト希望での応募<br>
          以上３点を入力の上ご送信下さい。こちらから折り返し連絡させて頂きます。<br>
          その他お問い合わせの方は折り返し希望のメールアドレス、または電話番号を入力の上ご送信ください。<hr>
        </div>
      <% end %>

    </div>
  </div>

</div>
</div>


<%= render '/footer' %>