<h3>情報確認・編集</h3>

<%= form_for(@staff, url: staff_edit_path) do |f| %>


  <div class="field">
    <div><%= image_tag attachment_url(@staff, :image, :fill, 100, 100, format: "jpg",fallback: "no_image.jpg"),class: 'staff-image'%></div>
    <%= f.attachment_field :image %>
  </div>

  <div class="field">
　　<%= f.text_field :staff_number, autofocus: true, placeholder: "社員番号"%>
  </div>

  <div class="field">
　　<%= f.text_field :last_name, placeholder: "姓"%>
  </div>

  <div class="field">
　　<%= f.text_field :first_name, autofocus: true, placeholder: "名"%>
  </div>

  <div class="field">
　　<%= f.text_field :last_name_kana, autofocus: true, placeholder: "セイ" %>
  </div>

  <div class="field">
　　<%= f.text_field :first_name_kana, autofocus: true, placeholder: "メイ" %>
  </div>

  <div class="field">
　　<%= f.text_field :position, autofocus: true, placeholder: "役職" %>
  </div>

  <div class="field">
　　<%= f.text_field :post_code, autofocus: true, placeholder: "郵便番号" %>
  </div>

  <div class="field">
　　<%= f.text_field :address, autofocus: true, placeholder: "住所" %>
  </div>

  <div class="field">
    <%= f.text_field :phone_number, autofocus: true, placeholder: "電話番号" %>
  </div>

  <div class="field">
    <%= f.text_field :emergency_relationship, autofocus: true, placeholder: "緊急続柄" %>
  </div>

  <div class="field">
    <%= f.text_field :emergency_number, autofocus: true, placeholder: "緊急番号" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to staff_root_path do %>
  <p><i class="fas fa-backward"></i> Back</p>
<% end %>
